:root{
--Orange: hsl(25, 97%, 53%);
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 2rem;
    background-color: var(--Very-Dark-Blue);
    color: var(--Medium-Grey);
    font-family: 'Overpass', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    color: var(--Light-Grey);
    background-color: var(--Dark-Blue);
    max-width: 375px;
    padding: 1.5rem;
    padding-block: 2rem;
    border-radius: 1rem;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1.2rem;
}
li{
    margin: .5rem;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:hsla(217, 12%, 63%, 0.1);; 
}
.isSelected{
    color: var(--White);
    background-color: var(--Light-Grey);
    cursor: pointer;
}

li:hover{
    background-color: var(--Orange);
    color: var(--White);
    cursor: pointer;
}

h1,h2{
    color: var(--White);
    width: 100%;
    padding-block: 1.5rem;
}
button{
    color: var(--White);
    background-color: var(--Orange);
    border: none;
    border-radius: 1.5rem;
    width: 100%;
    height: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;    
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: var(--White);
    color: var(--Orange);
}
.ratingCard{
    text-align: left;
   
}
.ratingCard::before{
content: "";
background-image: url("images/icon-star.svg");
background-repeat: no-repeat;
background-position: center;
display: block;
width: 2.6rem;
height: 2.6rem;
border-radius: 50%;
background-color:hsla(217, 12%, 63%, 0.1);

}
.thankYouCard{
    text-align: center;
    display: none;
}

.thankYouCard::before{
    content: "";
    display: block;
    background-image: url("images/illustration-thank-you.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 7rem;
}
.messageTxt{
   color: var(--Orange);
   background-color: hsla(217, 12%, 63%, 0.1);
   width: max-content;
   padding: .8rem;
   border-radius: 5rem;
   margin-block: 2rem 0;
   margin-inline: auto;
   font-size: 1.2rem;
   text-transform: capitalize;
}
